CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y

# Wifi debugging
#CONFIG_ESP32_WIFI_DEBUG_LOG_ENABLE=y
#CONFIG_ESP32_WIFI_DEBUG_LOG_LEVEL_VERBOSE=y
#CONFIG_ESP32_WIFI_DEBUG_LOG_MODULE_WIFI=y
#CONFIG_ESP32_WIFI_DEBUG_LOG_SUBMODULE_ALL=y
#LOG_DEFAULT_LEVEL_VERBOSE=y
#CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y # useful to see how flash/psram is inited
#
# not available in 4.0.1:
#CONFIG_LWIP_NETIF_DEBUG=y
#CONFIG_WPA_DEBUG_PRINT=y
