CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y

CONFIG_FLASHMODE_QIO=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESP32_REV_MIN_1=y

# ESP-IDF Logging
#CONFIG_LOG_DEFAULT_LEVEL_ERROR=n
#CONFIG_LOG_DEFAULT_LEVEL_WARN=n
#CONFIG_LOG_DEFAULT_LEVEL_INFO=n
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
#CONFIG_LOG_DEFAULT_LEVEL_VERBOSE=y
#CONFIG_LOG_DEFAULT_LEVEL=4
